{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true,
        "pipelineProposal": "minimal"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements",
    [
      "direct-import",
      {
        "modules": [
          "react-router",
          "react-router-dom"
        ]
      }
    ]
  ]
}
