<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="decsription" content="Krótki opis portalu.">
  <meta property="og:title" content="inStudy - więcej niż studia!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://instudy-prod.herokuapp.com/">
  <meta property="og:image" content="https://instudy-prod.herokuapp.com/img/home_og.png">
  <meta property="og:description" content="Krótki opis portalu.">
  <title>inStudy</title>
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
  <script type="text/javascript" src="/main.js"></script>
</body>

</html>
