/* FORMS */

.ant-input {
  font-weight: var(--regular);
}

.ant-form-item-control {
  line-height: unset;
}

.ant-form-item-label {
  font-size: var(--font-xs);
  line-height: var(--font-xs-lh);
  font-weight: var(--medium);

  label {
    padding-left: var(--space-xs);
    color: var(--text2);
  }
}

.has-error .ant-form-explain {
  padding-left: var(--space-xs);
  font-size: var(--font-xs);
  line-height: var(--font-xs-lh);
  font-weight: var(--regular);
  color: var(--error);
}

.ant-calendar-footer {
  padding: 0;
}

/* BUTTONS */
.ant-btn-sm {
  span {
    position: relative;
    top: -1px;
  }
}

.ant-btn.ant-btn-default {
  border-color: var(--grey5);
  color: var(--text1);

  &:hover,
  &:focus {
    border-color: var(--grey6);
    color: var(--text2);
  }

  &:active {
    border-color: var(--grey4);
    color: var(--text1);
  }
}

.ant-btn.ant-btn-primary {
  color: var(--white);
  background-color: var(--primary2);
  border-color: var(--primary2);

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--primary2-hover);
    border-color: var(--primary2-hover);
  }

  &:active {
    color: var(--white);
    background-color: var(--primary2-active);
    border-color: var(--primary2-active);
  }
}

.ant-btn.ant-btn-background-ghost {
  color: var(--white);

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid var(--grey7);
    color: var(--grey7);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: 1px solid var(--grey6);
    color: var(--grey6);
  }
}

.ant-btn.ant-btn-danger.ant-btn-background-ghost {
  border-color: var(--error);
  color: var(--error);
}


/* DROPDOWN */

.ant-dropdown-menu-item > a,
.ant-dropdown-menu-submenu-title > a {
  margin: 0;
  padding: 0;
}

/* MODALS */
.ant-confirm-body .anticon {
  position: relative;
  top: var(--space-xs);
}
