@import "./reset.scss";
@import "./variables.scss";
@import "./antd.scss";
@import "./modal.scss";

body {
  font-family: var(--mainFont);
  font-weight: var(--regular);

  a, div, p, span, input, button, textarea, label {
    font-family: var(--mainFont);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerFont);
  }
}

.tippy-tooltip.tippy-tooltip--regular.light-theme {
  padding: 0;
}
