@import "./reset.scss";
@import "./variables.scss";
@import "./antd.scss";
@import "./modal.scss";

body {
  font-family: var(--mainFont);
  font-weight: var(--regular);
}

.tippy-tooltip.tippy-tooltip--regular.light-theme {
  padding: 0;
}
